@import url(https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap);
@font-face {
  font-family: swiper-icons;
  src: url('data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA');
  font-weight: 400;
  font-style: normal
}
:root {
  --swiper-theme-color: #007aff
}
.swiper,
swiper-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
  display: block
}
.swiper-vertical > .swiper-wrapper {
  flex-direction: column
}
.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  transition-timing-function: var(--swiper-wrapper-transition-timing-function,initial);
  box-sizing: content-box
}
.swiper-android .swiper-slide,
.swiper-wrapper {
  transform: translate3d(0,0,0)
}
.swiper-horizontal {
  touch-action: pan-y
}
.swiper-vertical {
  touch-action: pan-x
}
.swiper-slide,
swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
  display: block
}
.swiper-slide-invisible-blank {
  visibility: hidden
}
.swiper-autoheight,
.swiper-autoheight .swiper-slide {
  height: auto
}
.swiper-autoheight .swiper-wrapper {
  align-items: flex-start;
  transition-property: transform,height
}
.swiper-backface-hidden .swiper-slide {
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden
}
.swiper-3d.swiper-css-mode .swiper-wrapper {
  perspective: 1200px
}
.swiper-3d .swiper-wrapper {
  transform-style: preserve-3d
}
.swiper-3d {
  perspective: 1200px
}
.swiper-3d .swiper-cube-shadow,
.swiper-3d .swiper-slide,
.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-bottom,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top {
  transform-style: preserve-3d
}
.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-bottom,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10
}
.swiper-3d .swiper-slide-shadow {
  background: rgba(0,0,0,.15)
}
.swiper-3d .swiper-slide-shadow-left {
  background-image: linear-gradient(to left,rgba(0,0,0,.5),rgba(0,0,0,0))
}
.swiper-3d .swiper-slide-shadow-right {
  background-image: linear-gradient(to right,rgba(0,0,0,.5),rgba(0,0,0,0))
}
.swiper-3d .swiper-slide-shadow-top {
  background-image: linear-gradient(to top,rgba(0,0,0,.5),rgba(0,0,0,0))
}
.swiper-3d .swiper-slide-shadow-bottom {
  background-image: linear-gradient(to bottom,rgba(0,0,0,.5),rgba(0,0,0,0))
}
.swiper-css-mode > .swiper-wrapper {
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none
}
.swiper-css-mode > .swiper-wrapper::-webkit-scrollbar {
  display: none
}
.swiper-css-mode > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: start start
}
.swiper-horizontal.swiper-css-mode > .swiper-wrapper {
  scroll-snap-type: x mandatory
}
.swiper-vertical.swiper-css-mode > .swiper-wrapper {
  scroll-snap-type: y mandatory
}
.swiper-centered > .swiper-wrapper::before {
  content: '';
  flex-shrink: 0;
  order: 9999
}
.swiper-centered > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: center center;
  scroll-snap-stop: always
}
.swiper-centered.swiper-horizontal > .swiper-wrapper > .swiper-slide:first-child {
  margin-inline-start: var(--swiper-centered-offset-before)
}
.swiper-centered.swiper-horizontal > .swiper-wrapper::before {
  height: 100%;
  min-height: 1px;
  width: var(--swiper-centered-offset-after)
}
.swiper-centered.swiper-vertical > .swiper-wrapper > .swiper-slide:first-child {
  margin-block-start: var(--swiper-centered-offset-before)
}
.swiper-centered.swiper-vertical > .swiper-wrapper::before {
  width: 100%;
  min-width: 1px;
  height: var(--swiper-centered-offset-after)
}
.swiper-lazy-preloader {
  width: 42px;
  height: 42px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -21px;
  margin-top: -21px;
  z-index: 10;
  transform-origin: 50%;
  box-sizing: border-box;
  border: 4px solid var(--swiper-preloader-color,var(--swiper-theme-color));
  border-radius: 50%;
  border-top-color: transparent
}
.swiper-watch-progress .swiper-slide-visible .swiper-lazy-preloader,
.swiper:not(.swiper-watch-progress) .swiper-lazy-preloader,
swiper-container:not(.swiper-watch-progress) .swiper-lazy-preloader {
  animation: swiper-preloader-spin 1s infinite linear
}
.swiper-lazy-preloader-white {
  --swiper-preloader-color: #fff
}
.swiper-lazy-preloader-black {
  --swiper-preloader-color: #000
}
@keyframes swiper-preloader-spin {
  0% {
    transform: rotate(0)
  }
  100% {
    transform: rotate(360deg)
  }
}
.swiper-virtual .swiper-slide {
  -webkit-backface-visibility: hidden;
  transform: translateZ(0)
}
.swiper-virtual.swiper-css-mode .swiper-wrapper::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none
}
.swiper-virtual.swiper-css-mode.swiper-horizontal .swiper-wrapper::after {
  height: 1px;
  width: var(--swiper-virtual-size)
}
.swiper-virtual.swiper-css-mode.swiper-vertical .swiper-wrapper::after {
  width: 1px;
  height: var(--swiper-virtual-size)
}
:root {
  --swiper-navigation-size: 44px
}
.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top: var(--swiper-navigation-top-offset,50%);
  width: calc(var(--swiper-navigation-size)/ 44 * 27);
  height: var(--swiper-navigation-size);
  margin-top: calc(0px - (var(--swiper-navigation-size)/ 2));
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--swiper-navigation-color,var(--swiper-theme-color))
}
.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: .35;
  cursor: auto;
  pointer-events: none
}
.swiper-button-next.swiper-button-hidden,
.swiper-button-prev.swiper-button-hidden {
  opacity: 0;
  cursor: auto;
  pointer-events: none
}
.swiper-navigation-disabled .swiper-button-next,
.swiper-navigation-disabled .swiper-button-prev {
  display: none!important
}
.swiper-button-next:after,
.swiper-button-prev:after {
  font-family: swiper-icons;
  font-size: var(--swiper-navigation-size);
  text-transform: none!important;
  letter-spacing: 0;
  font-variant: initial;
  line-height: 1
}
.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  left: var(--swiper-navigation-sides-offset,10px);
  right: auto
}
.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  content: 'prev'
}
.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  right: var(--swiper-navigation-sides-offset,10px);
  left: auto
}
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  content: 'next'
}
.swiper-button-lock {
  display: none
}
.swiper-pagination {
  position: absolute;
  text-align: center;
  transition: .3s opacity;
  transform: translate3d(0,0,0);
  z-index: 10
}
.swiper-pagination.swiper-pagination-hidden {
  opacity: 0
}
.swiper-pagination-disabled > .swiper-pagination,
.swiper-pagination.swiper-pagination-disabled {
  display: none!important
}
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: var(--swiper-pagination-bottom,8px);
  top: var(--swiper-pagination-top,auto);
  left: 0;
  width: 100%
}
.swiper-pagination-bullets-dynamic {
  overflow: hidden;
  font-size: 0
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  transform: scale(.33);
  position: relative
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active {
  transform: scale(1)
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-main {
  transform: scale(1)
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev {
  transform: scale(.66)
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev-prev {
  transform: scale(.33)
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next {
  transform: scale(.66)
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next {
  transform: scale(.33)
}
.swiper-pagination-bullet {
  width: var(--swiper-pagination-bullet-width,var(--swiper-pagination-bullet-size,8px));
  height: var(--swiper-pagination-bullet-height,var(--swiper-pagination-bullet-size,8px));
  display: inline-block;
  border-radius: var(--swiper-pagination-bullet-border-radius,50%);
  background: var(--swiper-pagination-bullet-inactive-color,#000);
  opacity: var(--swiper-pagination-bullet-inactive-opacity,.2)
}
button.swiper-pagination-bullet {
  border: none;
  margin: 0;
  padding: 0;
  box-shadow: none;
  -webkit-appearance: none;
  appearance: none
}
.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer
}
.swiper-pagination-bullet:only-child {
  display: none!important
}
.swiper-pagination-bullet-active {
  opacity: var(--swiper-pagination-bullet-opacity,1);
  background: var(--swiper-pagination-color,var(--swiper-theme-color))
}
.swiper-pagination-vertical.swiper-pagination-bullets,
.swiper-vertical > .swiper-pagination-bullets {
  right: var(--swiper-pagination-right,8px);
  left: var(--swiper-pagination-left,auto);
  top: 50%;
  transform: translate3d(0,-50%,0)
}
.swiper-pagination-vertical.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: var(--swiper-pagination-bullet-vertical-gap,6px) 0;
  display: block
}
.swiper-pagination-vertical.swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
.swiper-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  top: 50%;
  transform: translateY(-50%);
  width: 8px
}
.swiper-pagination-vertical.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet,
.swiper-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  display: inline-block;
  transition: .2s transform,.2s top
}
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap,4px)
}
.swiper-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap
}
.swiper-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  transition: .2s transform,.2s left
}
.swiper-horizontal.swiper-rtl > .swiper-pagination-bullets-dynamic .swiper-pagination-bullet,
:host(.swiper-horizontal.swiper-rtl) .swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  transition: .2s transform,.2s right
}
.swiper-pagination-fraction {
  color: var(--swiper-pagination-fraction-color,inherit)
}
.swiper-pagination-progressbar {
  background: var(--swiper-pagination-progressbar-bg-color,rgba(0,0,0,.25));
  position: absolute
}
.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: var(--swiper-pagination-color,var(--swiper-theme-color));
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: scale(0);
  transform-origin: left top
}
.swiper-rtl .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  transform-origin: right top
}
.swiper-horizontal > .swiper-pagination-progressbar,
.swiper-pagination-progressbar.swiper-pagination-horizontal,
.swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite,
.swiper-vertical > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
  width: 100%;
  height: var(--swiper-pagination-progressbar-size,4px);
  left: 0;
  top: 0
}
.swiper-horizontal > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite,
.swiper-pagination-progressbar.swiper-pagination-horizontal.swiper-pagination-progressbar-opposite,
.swiper-pagination-progressbar.swiper-pagination-vertical,
.swiper-vertical > .swiper-pagination-progressbar {
  width: var(--swiper-pagination-progressbar-size,4px);
  height: 100%;
  left: 0;
  top: 0
}
.swiper-pagination-lock {
  display: none
}
.swiper-scrollbar {
  border-radius: var(--swiper-scrollbar-border-radius,10px);
  position: relative;
  -ms-touch-action: none;
  background: var(--swiper-scrollbar-bg-color,rgba(0,0,0,.1))
}
.swiper-scrollbar-disabled > .swiper-scrollbar,
.swiper-scrollbar.swiper-scrollbar-disabled {
  display: none!important
}
.swiper-horizontal > .swiper-scrollbar,
.swiper-scrollbar.swiper-scrollbar-horizontal {
  position: absolute;
  left: var(--swiper-scrollbar-sides-offset,1%);
  bottom: var(--swiper-scrollbar-bottom,4px);
  top: var(--swiper-scrollbar-top,auto);
  z-index: 50;
  height: var(--swiper-scrollbar-size,4px);
  width: calc(100% - 2 * var(--swiper-scrollbar-sides-offset,1%))
}
.swiper-scrollbar.swiper-scrollbar-vertical,
.swiper-vertical > .swiper-scrollbar {
  position: absolute;
  left: var(--swiper-scrollbar-left,auto);
  right: var(--swiper-scrollbar-right,4px);
  top: var(--swiper-scrollbar-sides-offset,1%);
  z-index: 50;
  width: var(--swiper-scrollbar-size,4px);
  height: calc(100% - 2 * var(--swiper-scrollbar-sides-offset,1%))
}
.swiper-scrollbar-drag {
  height: 100%;
  width: 100%;
  position: relative;
  background: var(--swiper-scrollbar-drag-bg-color,rgba(0,0,0,.5));
  border-radius: var(--swiper-scrollbar-border-radius,10px);
  left: 0;
  top: 0
}
.swiper-scrollbar-cursor-drag {
  cursor: move
}
.swiper-scrollbar-lock {
  display: none
}
.swiper-zoom-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center
}
.swiper-zoom-container > canvas,
.swiper-zoom-container > img,
.swiper-zoom-container > svg {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain
}
.swiper-slide-zoomed {
  cursor: move;
  touch-action: none
}
.swiper .swiper-notification,
swiper-container .swiper-notification {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  opacity: 0;
  z-index: -1000
}
.swiper-free-mode > .swiper-wrapper {
  transition-timing-function: ease-out;
  margin: 0 auto
}
.swiper-grid > .swiper-wrapper {
  flex-wrap: wrap
}
.swiper-grid-column > .swiper-wrapper {
  flex-wrap: wrap;
  flex-direction: column
}
.swiper-fade.swiper-free-mode .swiper-slide {
  transition-timing-function: ease-out
}
.swiper-fade .swiper-slide {
  pointer-events: none;
  transition-property: opacity
}
.swiper-fade .swiper-slide .swiper-slide {
  pointer-events: none
}
.swiper-fade .swiper-slide-active,
.swiper-fade .swiper-slide-active .swiper-slide-active {
  pointer-events: auto
}
.swiper-cube {
  overflow: visible
}
.swiper-cube .swiper-slide {
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 1;
  visibility: hidden;
  transform-origin: 0 0;
  width: 100%;
  height: 100%
}
.swiper-cube .swiper-slide .swiper-slide {
  pointer-events: none
}
.swiper-cube.swiper-rtl .swiper-slide {
  transform-origin: 100% 0
}
.swiper-cube .swiper-slide-active,
.swiper-cube .swiper-slide-active .swiper-slide-active {
  pointer-events: auto
}
.swiper-cube .swiper-slide-active,
.swiper-cube .swiper-slide-next,
.swiper-cube .swiper-slide-next + .swiper-slide,
.swiper-cube .swiper-slide-prev {
  pointer-events: auto;
  visibility: visible
}
.swiper-cube .swiper-slide-shadow-bottom,
.swiper-cube .swiper-slide-shadow-left,
.swiper-cube .swiper-slide-shadow-right,
.swiper-cube .swiper-slide-shadow-top {
  z-index: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden
}
.swiper-cube .swiper-cube-shadow {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: .6;
  z-index: 0
}
.swiper-cube .swiper-cube-shadow:before {
  content: '';
  background: #000;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  filter: blur(50px)
}
.swiper-flip {
  overflow: visible
}
.swiper-flip .swiper-slide {
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 1
}
.swiper-flip .swiper-slide .swiper-slide {
  pointer-events: none
}
.swiper-flip .swiper-slide-active,
.swiper-flip .swiper-slide-active .swiper-slide-active {
  pointer-events: auto
}
.swiper-flip .swiper-slide-shadow-bottom,
.swiper-flip .swiper-slide-shadow-left,
.swiper-flip .swiper-slide-shadow-right,
.swiper-flip .swiper-slide-shadow-top {
  z-index: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden
}
.swiper-creative .swiper-slide {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  transition-property: transform,opacity,height
}
.swiper-cards {
  overflow: visible
}
.swiper-cards .swiper-slide {
  transform-origin: center bottom;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden
}
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%
}
body {
  margin: 0
}
main {
  display: block
}
h1 {
  font-size: 2em;
  margin: .67em 0
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible
}
pre {
  font-family: monospace,monospace;
  font-size: 1em
}
a {
  background-color: transparent
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted
}
b,
strong {
  font-weight: bolder
}
code,
kbd,
samp {
  font-family: monospace,monospace;
  font-size: 1em
}
small {
  font-size: 80%
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline
}
sub {
  bottom: -.25em
}
sup {
  top: -.5em
}
img {
  border-style: none
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  outline: 0;
  margin: 0
}
button,
input {
  overflow: visible
}
button,
select {
  text-transform: none
}
[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance: button
}
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0
}
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText
}
fieldset {
  padding: .35em .75em .625em
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal
}
progress {
  vertical-align: baseline
}
textarea {
  overflow: auto
}
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0
}
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto
}
[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px
}
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit
}
details {
  display: block
}
summary {
  display: list-item
}
template {
  display: none
}
[hidden] {
  display: none
}
:root {
  --bodyBg: #1D1D1D;
  --accent: #E3B748;
  --hoverColor: #E2BE68;
  --mainPadding: 30px;
  --mainMargin: 100px;
  --transition: all .2s ease
}
.reviews__item {
  padding: 36px 26px 38px;
  background: #1d1d1d;
  border: 1px solid rgba(255,255,255,.1);
  border-radius: 14px
}
.nav__item a {
  position: relative
}
.nav__item a::after {
  content: "";
  position: absolute;
  left: auto;
  right: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  background: #fff;
  transition: var(--transition)
}
.nav__item a:focus::after,
.nav__item a:hover::after {
  right: auto;
  left: 0;
  width: 100%
}
@media screen and (max-width:767px) {
  :root {
    --mainPadding: 20px;
    --mainMargin: 100px
  }
}
html {
  box-sizing: border-box
}
*,
::after,
::before {
  box-sizing: border-box
}
.content-box-component {
  box-sizing: content-box
}
body {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background: var(--bodyBg);
  color: #fff;
  font-family: Inter,Helvetica,Arial,sans-serif;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
a {
  text-decoration: none;
  color: inherit
}
button {
  padding: 0;
  cursor: pointer;
  background: 0 0;
  border: none;
  color: inherit
}
ol,
ul {
  margin: 0;
  padding: 0
}
ul {
  list-style: none
}
p {
  margin: 0
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0
}
img {
  display: block;
  max-width: 100%;
  height: auto
}
picture {
  display: block
}
.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden
}
.background-image {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden
}
.background-image picture {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0
}
.background-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center
}
.wrapper {
  width: 100%;
  max-width: 100%;
  min-width: 320px;
  margin: 0 auto
}
.swiper-button-next,
.swiper-button-prev {
  width: 91px;
  height: 91px;
  border-radius: 50%;
  background: #e6e6e6;
  margin: 0;
  position: relative;
  transition: var(--transition)
}
.swiper-button-next:focus,
.swiper-button-next:hover,
.swiper-button-prev:focus,
.swiper-button-prev:hover {
  background: var(--accent)
}
.swiper-button-next::after,
.swiper-button-prev::after {
  content: "";
  width: 39px;
  height: 39px;
  position: absolute;
  margin: auto
}
.swiper-button-prev::after {
  background: url(../images/icons/prev.svg) no-repeat center/contain
}
.swiper-button-next::after {
  background: url(../images/icons/next.svg) no-repeat center/contain
}
.swiper-pagination {
  top: auto!important;
  bottom: 0!important
}
.swiper-pagination-bullet {
  width: 14px;
  height: 14px;
  margin: 0 6px!important;
  background: #ccc;
  opacity: 1;
  -webkit-transform: scale(.8);
  transform: scale(.8);
  transition: all .3s ease
}
.swiper-pagination-bullet-active {
  background: var(--accent);
  -webkit-transform: scale(1);
  transform: scale(1)
}
@media screen and (max-width:1200px) {
  .swiper-button-next,
  .swiper-button-prev {
    width: 80px;
    height: 80px
  }
}
@media screen and (max-width:767px) {
  .swiper-button-next,
  .swiper-button-prev {
    width: 70px;
    height: 70px
  }
  .swiper-button-next::after,
  .swiper-button-prev::after {
    width: 30px;
    height: 30px
  }
}
.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 var(--mainPadding);
  margin: 0 auto
}
.logo {
  display: inline-block;
  width: 143px
}
.logo img {
  display: block;
  width: 100%
}
.text {
  color: rgba(255,255,255,.3);
  font-weight: 500;
  font-size: 18px;
  line-height: 163%
}
.btn {
  padding: 10px 24px;
  display: inline-block;
  background: var(--accent);
  color: #000;
  border-radius: 24px;
  text-align: center;
  font-size: 14px;
  line-height: 163%;
  font-weight: 600;
  cursor: pointer;
  transition: var(--transition)
}
.btn:focus,
.btn:hover {
  background: var(--hoverColor)
}
.email-form__box {
  width: 438px;
  position: relative
}
.email-form__field {
  position: relative
}
.email-form__icon {
  position: absolute;
  width: 22px;
  height: 22px;
  left: 28px;
  top: 0;
  bottom: 0;
  margin: auto;
  opacity: .1;
  transition: var(--transition)
}
.email-form__inp {
  width: 100%;
  padding: 24px 62px;
  padding-right: 180px;
  background: rgba(255,255,255,.1);
  border-radius: 43px;
  font-weight: 500;
  font-size: 16px;
  line-height: 162.52%;
  color: #fff;
  border: none
}
.email-form__inp:focus ~ .email-form__icon {
  opacity: 1
}
.email-form .btn {
  padding: 18px 32px;
  position: absolute;
  right: 6px;
  top: 6px;
  bottom: 6px;
  border-radius: 43px;
  font-size: 16px
}
.title {
  font-weight: 600;
  font-size: 54px;
  line-height: 162%;
  text-align: center
}
.title.anim-item {
  opacity: 0;
  -webkit-transform: translateY(40px);
  transform: translateY(40px);
  transition: all .6s ease-out
}
.title.anim-item.visible {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0)
}
.sec-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 120%
}
@media screen and (max-width:1200px) {
  .title {
    font-size: 48px
  }
  .sec-title {
    font-size: 22px;
    line-height: 140%
  }
  .text {
    font-size: 16px
  }
}
@media screen and (max-width:900px) {
  .title {
    font-size: 44px
  }
  .sec-title {
    font-size: 20px
  }
}
@media screen and (max-width:767px) {
  .title {
    font-size: 40px
  }
  .sec-title {
    font-size: 18px
  }
}
@media screen and (max-width:500px) {
  .title {
    font-size: 36px
  }
  .email-form__field {
    margin-bottom: 10px
  }
  .email-form__inp {
    padding: 20px 62px
  }
  .email-form .btn {
    width: 100%;
    position: static
  }
}
@media screen and (max-width:400px) {
  .title {
    font-size: 32px
  }
}
.nav__list {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 160%
}
.nav__item {
  margin-right: 40px
}
.nav__item:last-child {
  margin-right: 0
}
.header {
  padding-top: 230px;
  margin-bottom: 172px;
  padding-bottom: 192px;
  background: #111
}
.header__top {
  margin-bottom: 80px;
  padding-top: 30px;
  padding-bottom: 30px;
  background: #111;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0
}
.header__top-inner {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between
}
.header__tel {
  padding: 14px 35px;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 2px solid #fff;
  transition: var(--transition);
  position: relative;
  z-index: 105
}
.header__tel-icon {
  display: none
}
.header__tel:focus,
.header__tel:hover {
  background: #fff;
  color: #000
}
.header__content {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center
}
.header__info {
  width: calc(100% - 468px);
  padding-right: 92px;
  opacity: 0;
  -webkit-transform: translateX(-40px);
  transform: translateX(-40px);
  transition: all .6s ease-out
}
.header__info.visible {
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0)
}
.header__title {
  margin-bottom: 36px;
  font-weight: 500;
  font-size: 66px;
  line-height: 148%
}
.header__title span {
  font-weight: 700
}
.header__text {
  margin-bottom: 48px
}
.header__img {
  width: 468px;
  height: 468px;
  margin-top: 20px;
  border-radius: 55px;
  background: var(--accent);
  position: relative;
  background: url(../images/header/pattern.png) no-repeat center/contain;
  opacity: 0;
  -webkit-transform: translateX(40px);
  transform: translateX(40px);
  transition: all .6s ease-out
}
.header__img.visible {
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0)
}
.header__img-person {
  width: 444px;
  max-width: none;
  position: absolute;
  bottom: -20px
}
.header__menu {
  margin-left: 30px
}
.header__logo {
  position: relative;
  z-index: 105
}
@media screen and (max-width:1600px) {
  .header__top {
    padding: 30px 0
  }
}
@media screen and (max-width:1200px) {
  .header {
    padding-top: 180px;
    margin-bottom: var(--mainMargin)
  }
  .header__menu {
    margin-left: 0
  }
  .header__top {
    padding: 20px 0
  }
  .header__top-inner {
    position: relative
  }
  .header__menu {
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1
  }
  .header__burger {
    width: 50px;
    height: 50px;
    padding: 10px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    z-index: 110;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
  }
  .header__burger span {
    display: block;
    width: 100%;
    height: 2px;
    background: #fff;
    transition: all .4s ease;
    position: relative
  }
  .header__burger span::after,
  .header__burger span::before {
    content: "";
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit
  }
  .header__burger span::after {
    top: auto;
    bottom: -10px
  }
  .header__burger--active span {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg)
  }
  .header__burger--active span::after,
  .header__burger--active span::before {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg)
  }
  .header__burger--active span::before {
    top: 0
  }
  .header__burger--active span::after {
    bottom: 0
  }
  .header__nav {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background: rgba(0,0,0,.7);
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    transition: all .4s ease;
    border-radius: 50%;
    -webkit-transform: scale(0);
    transform: scale(0)
  }
  .header__nav--active {
    -webkit-transform: scale(1);
    transform: scale(1);
    border-radius: 0
  }
  .header__nav .nav__list {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    font-size: 24px
  }
  .header__nav .nav__item {
    margin-right: 0;
    margin-bottom: 20px
  }
  .header__logo {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
  }
  .header__title {
    font-size: 56px
  }
  .header__info {
    width: calc(100% - 400px)
  }
  .header__img {
    width: 400px;
    height: 400px
  }
  .header__img-person {
    width: 380px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
  }
}
@media screen and (max-width:1000px) {
  .header {
    padding-bottom: 100px
  }
  .header__content {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start
  }
  .header__info {
    width: 100%;
    padding-right: 0;
    -webkit-transform: translateY(40px);
    transform: translateY(40px)
  }
  .header__info.visible {
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
  .header__img {
    width: 330px;
    height: 330px;
    margin-bottom: 30px;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
    -webkit-transform: translateY(40px);
    transform: translateY(40px)
  }
  .header__img.visible {
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
  .header__img-person {
    width: 300px;
    bottom: -10px
  }
  .header__title {
    margin-bottom: 20px;
    font-size: 44px
  }
  .header__text {
    margin-bottom: 30px
  }
  .header .email-form__box {
    width: 100%
  }
}
@media screen and (max-width:767px) {
  .header {
    padding-top: 150px
  }
  .header__tel {
    width: 50px;
    height: 50px;
    padding: 10px;
    font-size: 0;
    border: none
  }
  .header__tel-icon {
    display: block
  }
  .header__tel:focus,
  .header__tel:hover {
    background: 0 0
  }
}
@media screen and (max-width:400px) {
  .header {
    padding-top: 100px;
    padding-bottom: 80px
  }
  .header__top {
    margin-bottom: 60px
  }
  .header__title {
    font-size: 36px
  }
  .header__img {
    width: 100%;
    max-width: 360px;
    height: 360px
  }
  .header__img-person {
    width: 280px
  }
}
.main {
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1
}
.introduce {
  margin-bottom: 170px
}
.introduce__inner {
  display: grid;
  grid-template-columns: 1fr 1fr
}
.introduce__left {
  padding-right: 87px;
  border-right: 1px solid #6a6a6a;
  opacity: 0;
  -webkit-transform: translateY(40px);
  transform: translateY(40px);
  transition: all .6s ease-out
}
.introduce__left.visible {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0)
}
.introduce__right {
  height: auto;
  padding-left: 87px;
  opacity: 0;
  -webkit-transform: translateY(40px);
  transform: translateY(40px);
  transition: all .6s ease-out
}
.introduce__right.visible {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0)
}
.introduce__left,
.introduce__right {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center
}
.introduce .title {
  text-align: left
}
.introduce__name {
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 32px;
  line-height: 163%
}
@media screen and (max-width:1200px) {
  .introduce {
    margin-bottom: var(--mainMargin)
  }
  .introduce__inner {
    grid-template-columns: 1fr
  }
  .introduce__left {
    margin-bottom: 20px;
    padding-bottom: 10px;
    padding-right: 0;
    border-right: 0;
    border-bottom: 1px solid #6a6a6a
  }
  .introduce__right {
    padding-left: 0
  }
}
.features {
  margin-bottom: 179px
}
.features__title {
  margin-bottom: 97px
}
.features__slider {
  overflow: hidden;
  position: relative
}
.features__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 31px
}
.features__item {
  padding: 28px 24px 36px;
  border: 1px solid rgba(255,255,255,.1);
  border-radius: 14px;
  transition: var(--transition);
  opacity: 0;
  -webkit-transform: translateX(-40px);
  transform: translateX(-40px);
  transition: all .6s ease-out
}
.features__item.visible {
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0)
}
.features__item:focus,
.features__item:hover {
  background: #2e2e2e
}
.features__item:nth-child(3n-1) {
  background: #2e2e2e
}
.features__icon {
  width: 101px;
  height: 101px;
  margin-bottom: 28px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50%;
  background: #fff;
  border: 1px solid rgba(25,25,25,.1)
}
.features__name {
  margin-bottom: 26px
}
.features .text {
  margin-bottom: 22px;
  font-size: 14px
}
.features__pagination {
  display: none
}
@media screen and (max-width:1200px) {
  .features {
    margin-bottom: var(--mainMargin)
  }
  .features__title {
    margin-bottom: 60px
  }
}
@media screen and (max-width:900px) {
  .features__list {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    grid-gap: 0
  }
  .features__info {
    max-width: 500px
  }
  .features__icon {
    width: 80px;
    height: 80px
  }
  .features__icon img {
    width: 50px
  }
  .features__slider {
    padding-bottom: 40px
  }
  .features__pagination {
    display: block
  }
}
.area {
  margin-bottom: 180px
}
.area__title {
  margin-bottom: 54px
}
.area__list {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  grid-gap: 30px
}
.area__item {
  width: 358px;
  height: 342px;
  border-radius: 14px;
  overflow: hidden;
  opacity: 0;
  -webkit-transform: scale(.7);
  transform: scale(.7);
  transition: all .6s ease-out
}
.area__item.visible {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1)
}
.area__item--large {
  width: 752px
}
.area__box {
  display: block;
  width: 100%;
  height: 100%;
  position: relative
}
.area__box::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0
}
.area__name {
  padding: 0 10px;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  bottom: 27px;
  left: 0;
  right: 0;
  z-index: 5
}
@media screen and (max-width:1200px) {
  .area {
    margin-bottom: var(--mainMargin)
  }
  .area__item {
    width: calc(50% - 15px)
  }
}
@media screen and (max-width:900px) {
  .area__list {
    grid-template-columns: 1fr 1fr
  }
}
@media screen and (max-width:767px) {
  .area__item {
    height: 300px
  }
}
@media screen and (max-width:550px) {
  .area__item {
    width: 100%
  }
}
.reviews {
  margin-bottom: 186px
}
.reviews__top {
  margin-bottom: 104px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end
}
.reviews .title {
  text-align: left;
  line-height: 143%
}
.reviews__slider {
  overflow: hidden;
  position: relative
}
.reviews__pagination {
  display: none
}
.reviews__manage {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative
}
.reviews__manage button {
  position: static;
  margin-left: 19px
}
.reviews__item {
  position: relative;
  opacity: 0;
  -webkit-transform: translateX(100px) translateY(100px);
  transform: translateX(100px) translateY(100px);
  transition: all .6s ease-out
}
.reviews__item.visible {
  opacity: 1;
  -webkit-transform: translateX(0) translateY(0);
  transform: translateX(0) translateY(0)
}
.reviews__item:nth-child(3n-1) {
  background: #2e2e2e
}
.reviews__item:nth-child(3n-1) .reviews__num {
  display: none
}
.reviews__num {
  width: 63px;
  position: absolute;
  top: 28px;
  right: 40px
}
.reviews__pic {
  margin-bottom: 20px
}
.reviews__pic img {
  border-radius: 50%
}
.reviews__person {
  margin-bottom: 22px
}
.reviews__name {
  margin-bottom: 10px
}
.reviews__pro {
  font-weight: 400;
  font-size: 14px;
  line-height: 170%
}
.reviews__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 163%;
  color: rgba(255,255,255,.3)
}
.reviews__prev {
  opacity: 0;
  -webkit-transform: translateX(-10px);
  transform: translateX(-10px);
  transition: all .6s ease-out
}
.reviews__prev.visible {
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0)
}
.reviews__next {
  opacity: 0;
  -webkit-transform: translateX(10px);
  transform: translateX(10px);
  transition: all .6s ease-out
}
.reviews__next.visible {
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0)
}
@media screen and (max-width:1200px) {
  .reviews {
    margin-bottom: var(--mainMargin)
  }
  .reviews__top {
    margin-bottom: 70px
  }
}
@media screen and (max-width:900px) {
  .reviews__item:nth-child(3n-1) {
    background: 0 0
  }
  .reviews__item:nth-child(3n-1) .reviews__num {
    display: block
  }
  .reviews__item:nth-child(2n) {
    background: #2e2e2e
  }
  .reviews__item:nth-child(2n) .reviews__num {
    display: none
  }
  .reviews__slider {
    padding-bottom: 40px
  }
  .reviews__pagination {
    display: block
  }
}
@media screen and (max-width:767px) {
  .reviews__top {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start
  }
  .reviews__top .title {
    margin-bottom: 20px
  }
  .reviews__top .title br {
    display: none
  }
  .reviews__manage {
    margin-left: auto
  }
}
.team {
  margin-bottom: 144px
}
.team__title {
  margin-bottom: 109px
}
.team__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 62px
}
.team__photo {
  width: 68px;
  height: 68px;
  margin-right: 22px
}
.team__photo img {
  width: 100%;
  display: block;
  border-radius: 50%
}
.team__name {
  margin-bottom: 6px;
  transition: var(--transition)
}
.team__pro {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  color: rgba(255,255,255,.3);
  transition: var(--transition)
}
.team__item {
  padding: 16px 26px 23px;
  border-radius: 14px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  transition: var(--transition);
  opacity: 0;
  -webkit-transform: translateX(-40px);
  transform: translateX(-40px);
  transition: all .6s ease-out
}
.team__item.visible {
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0)
}
.team__item:focus,
.team__item:hover {
  background: var(--accent)
}
.team__item:focus .team__name,
.team__item:hover .team__name {
  color: #373737
}
.team__item:focus .team__pro,
.team__item:hover .team__pro {
  color: rgba(0,0,0,.4)
}
.team__pagination {
  display: none
}
@media screen and (max-width:1200px) {
  .team {
    margin-bottom: var(--mainMargin)
  }
  .team__list {
    grid-gap: 30px
  }
  .team__title {
    margin-bottom: 70px
  }
}
@media screen and (max-width:767px) {
  .team__list {
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px
  }
  .team__item {
    padding: 16px
  }
}
@media screen and (max-width:500px) {
  .team__title {
    margin-bottom: 40px
  }
  .team__slider {
    padding-bottom: 40px;
    position: relative;
    overflow: hidden
  }
  .team__pagination {
    display: block
  }
  .team__list {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    grid-gap: 0
  }
  .team__item {
    border: 1px solid rgba(255,255,255,.1)
  }
}
.form {
  opacity: 0;
  -webkit-transform: translateY(70px);
  transform: translateY(70px);
  transition: all .6s ease-out
}
.form.visible {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0)
}
.form__inner {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center
}
.form__field {
  width: 276px;
  padding: 15px 23px;
  margin-right: 9px;
  background: #e4e4e4;
  font-family: "Helvetica Now Display";
  font-weight: 400;
  font-size: 14px;
  line-height: 137%;
  border: none
}
.form__field:first-child {
  border-radius: 8px 0 0 8px
}
.form__field::-webkit-input-placeholder {
  color: #818181;
  font-style: italic
}
.form__field::-moz-placeholder {
  color: #818181;
  font-style: italic
}
.form__field:-ms-input-placeholder {
  color: #818181;
  font-style: italic
}
.form__field::placeholder {
  color: #818181;
  font-style: italic
}
.form__btn {
  min-width: 116px;
  padding: 18px 20px;
  background: var(--accent);
  border-radius: 0 8px 8px 0;
  text-transform: uppercase;
  color: #000;
  font-weight: 700;
  text-align: center;
  transition: var(--transition)
}
.form__btn:focus,
.form__btn:hover {
  background: var(--hoverColor)
}
@media screen and (max-width:767px) {
  .form__inner {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column
  }
  .form__field {
    width: 100%;
    margin: 0;
    margin-bottom: 10px
  }
  .form__field:first-child,
  .form__field:last-child {
    border-radius: 0
  }
  .form__btn {
    border-radius: 0
  }
}
.subscribe {
  margin-bottom: 252px;
  padding: 92px 0;
  background: rgba(71,71,71,.5)
}
.subscribe__title {
  margin-bottom: 42px;
  text-align: center
}
@media screen and (max-width:1200px) {
  .subscribe {
    padding: 80px 0;
    margin-bottom: var(--mainMargin)
  }
}
@media screen and (max-width:767px) {
  .subscribe {
    padding: 60px 0
  }
}
.faq {
  margin-bottom: 188px
}
.faq .title {
  margin-bottom: 14px;
  text-align: left
}
.faq__box {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex
}
.faq__content,
.faq__info {
  width: 50%
}
.faq__info {
  padding-right: 120px;
  opacity: 0;
  -webkit-transform: translateY(70px);
  transform: translateY(70px);
  transition: all .6s ease-out
}
.faq__info.visible {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0)
}
.faq__item {
  padding: 40px 0;
  border-bottom: 2px solid rgba(217,217,217,.05);
  opacity: 0;
  -webkit-transform: translateY(70px);
  transform: translateY(70px);
  transition: all .6s ease-out
}
.faq__item.visible {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0)
}
.faq__item:first-child {
  padding-top: 0
}
.faq__item:last-child {
  border-bottom: 0
}
.faq__manage {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  cursor: pointer
}
.faq__manage--active .faq__toggle {
  -webkit-transform: scale(0);
  transform: scale(0)
}
.faq__question {
  padding-right: 10px
}
.faq__answer {
  display: none
}
.faq__toggle {
  display: inline-block;
  width: 28px;
  height: 28px;
  background: var(--accent);
  border-radius: 50%;
  position: relative;
  transition: var(--transition)
}
.faq__toggle::after {
  content: "+";
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #000
}
.faq__text {
  padding-top: 40px
}
@media screen and (max-width:1200px) {
  .faq {
    margin-bottom: var(--mainMargin)
  }
}
@media screen and (max-width:900px) {
  .faq__box {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
  }
  .faq__content,
  .faq__info {
    width: 100%;
    padding-right: 0
  }
  .faq__info {
    margin-bottom: 40px
  }
  .faq__item {
    padding: 30px 0
  }
  .faq__item:first-child {
    border-top: 2px solid rgba(217,217,217,.05);
    padding-top: 30px
  }
}
.soc {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap
}
.soc__item {
  margin-left: 22px
}
.soc__item:first-child {
  margin-left: 0
}
.soc__link {
  display: block;
  width: 30px;
  height: 30px
}
.soc__link img {
  display: block
}
.footer {
  padding: 118px 0 100px;
  background: #171717
}
.footer__top {
  margin-bottom: 100px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap
}
.footer__logo {
  margin-right: 136px
}
.footer__soc {
  margin-left: auto
}
.footer__nav {
  margin-right: 100px
}
.footer__bottom {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%
}
.footer__copy {
  margin-right: 25px
}
.footer__list {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center
}
.footer__list li {
  margin-right: 21px
}
.footer__list li:last-child {
  margin-right: 0
}
.footer__list a:focus,
.footer__list a:hover {
  text-decoration: underline
}
@media screen and (max-width:1200px) {
  .footer__logo {
    margin-bottom: 30px
  }
  .footer__nav {
    margin-right: 0;
    margin-bottom: 30px
  }
  .footer__top {
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between
  }
  .footer__soc {
    width: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end
  }
}
@media screen and (max-width:900px) {
  .footer {
    padding: 80px 0
  }
  .footer__top {
    margin-bottom: 70px
  }
  .footer__nav {
    width: 100%
  }
}
@media screen and (max-width:767px) {
  .footer__nav .nav__list {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start
  }
  .footer__nav .nav__item {
    margin: 0;
    margin-bottom: 10px
  }
  .footer__bottom {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column
  }
  .footer__copy {
    margin-bottom: 10px
  }
  .footer__list {
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start
  }
}
/*# sourceMappingURL=maps/main.css.map */
