footer.footer
   .footer__inner.container
      .footer__top
         a.footer__logo.logo(href="#")
            img(src="images/icons/logo.svg", alt="logo" width="143" height="31")
         nav.footer__nav.nav
            ul.nav__list
               li.nav__item
                  a(href="#") Home
               li.nav__item
                  a(href="#") Attorneys
               li.nav__item
                  a(href="#") Practice Areas
               li.nav__item
                  a(href="#") About Us
         .footer__soc
            ul.soc
               li.soc__item
                  a.soc__link(href="#")
                     img(src="images/soc/insta.svg", alt="insta" width="30" height="30")
               li.soc__item
                  a.soc__link(href="#")
                     img(src="images/soc/facebook.svg", alt="facebook" width="30" height="30")
               li.soc__item
                  a.soc__link(href="#")
                     img(src="images/soc/twitter.svg", alt="twitter" width="30" height="30")
               li.soc__item
                  a.soc__link(href="#")
                     img(src="images/soc/pin.svg", alt="pinterest" width="30" height="30")
      .footer__bottom
         p.footer__copy © 2020 Acme. All right reserved.
         ul.footer__list
            li
               a(href="#") Privacy Policy
            li
               a(href="#") Terms of Service